/* Body */
#quinto {
    font-family: Arial, sans-serif;
    background-color: rgba(51, 51, 51, 0.9);
}
/* Titoli */
h1 {
    margin: 0 auto;
    color: #AFCFCC;
    font-family: Georgia, serif;
}
/* Contenitore input */
.content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

table, td, td {
    border: 1px solid white;
}
/* navbar */
.navbar {
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

.nav-link {
    display: block;
    color: white !important;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px;
}

    .nav-link:hover {
        background-color: #575757;
        color: white;
    }
/* spazi di input */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#spazioInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-wrapper {
    display: flex; /* Utilizza inline-flex per allineare i gruppi orizzontalmente */
    align-items: center;
    margin-bottom: 20px;
    width: 480px;
}

.inp {
    position: relative;
    margin: 10px 0;
    width: 100%;
    max-width: 480px;
    border-radius: 3px;
    overflow: hidden;
    color: white;
    flex: 1;
}

    .inp .label {
        position: absolute;
        top: 20px;
        left: 12px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        transform-origin: 0 0;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease;
        pointer-events: none;
    }

    .inp .focus-bg {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px; /* Increased height */
        background: rgba(255, 255, 255, 0.5);
        z-index: 1;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.2s ease;
    }

    .inp input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        border: 0;
        font-family: inherit;
        padding: 16px 12px 0 12px;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
        background: rgba(0, 0, 0, 0.02);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
        color: #000;
        transition: all 0.15s ease;
    }

        .inp input:hover {
            background: rgba(0, 0, 0, 0.04);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
        }

        .inp input:not(:placeholder-shown) + .label {
            color: rgba(0, 0, 0, 0.5);
            transform: translate3d(0, -12px, 0) scale(0.75);
        }

        .inp input:focus {
            background: rgba(0, 0, 0, 0.05);
            outline: none;
            box-shadow: inset 0 -2px 0 black;
        }

            .inp input:focus + .label {
                color: black;
                transform: translate3d(0, -12px, 0) scale(0.75);
            }

                .inp input:focus + .label + .focus-bg {
                    transform: scaleX(1);
                    transition: all 0.1s ease;
                    background: black;
                }

#titolo, #isbnInvio {
    background-color: #575757;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

    #titolo:hover, #isbnInvio:hover {
        background-color: rgba(51, 51, 51, 0.9);
    }

#titolo, #isbnInvio {
    background-color: #575757;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

    #titolo:hover, #isbnInvio:hover {
        background-color: rgba(51, 51, 51, 0.9);
    }

#success-gif2.hidden, #error-gif2.hidden {
    display: none;
}

#success-gif2, #error-gif2 {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
