/* Body */
#settimo {
    font-family: Arial, sans-serif;
    background-color: rgba(51, 51, 51, 0.9);
}
/* Titoli */
h1 {
    margin: 0 auto;
    color: #AFCFCC;
    font-family: Georgia, serif;
}

h2 {
    margin-bottom: 15px;
    color: #AFCFCC;
    font-family: Georgia, serif;
    font-size: 35px;
}
/* Contenitore informazioni */
.content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo semitrasparente per migliorare la leggibilità */
    border-radius: 10px;
    margin: 20px;
    position: relative; /* Aggiunto per posizionare il bottone relativo al contenitore */
    color: white;
}

#immagine {
    height: 310px;
    width: 210px;
}

table, td, td {
    border: 1px solid white;
}

#info {
    display: inline-block;
    width: 75%;
    margin: 0 2%;
    vertical-align: top;
}

#compra {
    background-color: #575757;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* responsive */
@media (max-width: 768px) {
    .responsive-text {
        font-size: 16px; /* Esempio: dimensione del testo per schermi più piccoli */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .responsive-text {
        font-size: 18px; /* Esempio: dimensione del testo per schermi medi */
    }
}

@media (min-width: 1025px) {
    .responsive-text {
        font-size: 20px; /* Esempio: dimensione del testo per schermi più grandi */
    }
}
.responsive-text {
    font-size: 1.2rem; /* Esempio: 1.2 volte la dimensione di base del carattere */
    line-height: 1.5; /* Imposta l'interlinea in modo appropriato */
}
