/* body */
#sesto {
    font-family: Arial, sans-serif;
    background-color: rgba(51, 51, 51, 0.9);
}
/* Titoli */
h1 {
    margin: 0 auto;
    color: #AFCFCC;
    font-family: Georgia, serif;
}

h2 {
    margin: 0 auto;
    color: #AFCFCC;
    font-family: Georgia, serif;
    font-size: 35px;
}
/* contenitore carrello */
.content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo semitrasparente per migliorare la leggibilità */
    border-radius: 10px;
    margin: 20px;
    position: relative; /* Aggiunto per posizionare il bottone relativo al contenitore */
    color: white;
}
/* navbar */
.navbar {
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

.nav-link {
    display: block;
    color: white !important;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px;
}

    .nav-link:hover {
        background-color: #575757;
        color: white;
    }

    img{
        height: 120px;
        width:90px;
    }